<footer class="text-sm text-gray-600 dark:text-gray-400">
  <div class="container">
    <div class="border-t py-7">
      <p class="mb-2 sm:inline sm:pr-3 sm:border-r">
        Built with ❤ by <a href="{{ site.author.url }}" class="footer-link">Mubaraq Wahab</a>
      </p>
      <p class="mb-2 sm:inline sm:px-3 sm:border-r">
        <a class="footer-link" href="{{ '/credits/' | url }}">Credits</a>
      </p>
      <p class="mb-2 sm:inline sm:px-3 sm:border-r">
        <a class="footer-link" href="{{ site.repoUrl }}/edit/{{ site.deployBranch }}/{{ page.inputPath }}">Edit this page</a>
      </p>
      <p class="mb-2 sm:inline sm:pl-3">
        <a class="footer-link" href="{{ site.repoUrl }}/tree/{{ site.deployBranch }}">View the source</a>
      </p>
    </div>
  </div>
</footer>
