<footer class="text-sm text-gray-600 dark:text-gray-400">
  <div class="container">
    <div class="border-t py-7 md:flex md:justify-between">
      <p class="mb-3 md:mb-0">
        Built with ❤ by <a href="{{ site.author.url }}" class="underline">Mubaraq Wahab</a>
      </p>
      <nav class="">
        <a class="footer-nav-item underline" href="{{ '/credits/' | url }}">Credits</a>
        <a class="footer-nav-item underline" href="{{ site.repoUrl }}/tree/{{ site.deployBranch }}">
          Source
        </a>
        {% set contextSource = site.repoUrl ~ '/blob/' ~ site.deployBranch ~ '/' ~ page.inputPath %}
        {% set issueParams = {
          'body': (
            '<!-- Ignore the next line -->'
            ~ '\n'
            ~ '**Context:** [' ~ page.inputPath ~ '](' ~ contextSource ~ ')'
            ~ '\n\n'
            ~ '**Please describe the issue:**'
          )
        } %}
        <a class="footer-nav-item underline" href="{{ site.repoUrl }}/issues/new?{{ issueParams | querystr }}">
          Report a problem
        </a>
      </nav>
    </div>
  </div>
</footer>
