<footer class="text-sm text-gray-600 dark:text-gray-400">
  <div class="container">
    <div class="flex justify-between border-t py-7">
      <div>
        <p class="mb-2 md:inline md:mb-0 md:pr-3 md:border-r">
          Built with ❤ by <a href="{{ site.author.url }}" class="footer-link">Mubaraq Wahab</a>
        </p>
        <p class="mb-2 md:inline md:mb-0 md:px-3 md:border-r-0">
          <a class="footer-link" href="{{ '/credits/' | url }}">Credits</a>
        </p>
      </div>
      <nav class="">
        <a class="footer-link footer-item" href="{{ site.repoUrl }}/tree/{{ site.deployBranch }}">
          View the source
        </a>
        <a class="footer-link footer-item" href="{{ site.repoUrl }}/issues/new">
          Report a problem (TODO)
        </a>
        <a class="footer-link footer-item" href="{{ site.repoUrl }}/edit/{{ site.deployBranch }}/{{ page.inputPath }}">
          Edit this page
        </a>
      </nav>
    </div>
  </div>
</footer>
