{#
  You can pass html attrs (in camelCase) in the `attrs` object parameter
  to the macros that support the parameter.
#}

{% macro icon(id, class='', width=16, height=16, ariaHidden=true, attrs={}) -%}
  <svg
    aria-hidden="{{ ariaHidden }}"
    class="bi bi-{{ id }} {{ class }}"
    width="{{ width }}"
    height="{{ height }}"
    {{ attrs | htmlattrs | safe }}
  >
    <use xlink:href="{{ ('/assets/images/bootstrap-icons.svg#' ~ id) | url }}"/>
  </svg>
{%- endmacro %}

{% macro logo(class="", width=24, height=24, fill="none", ariaHidden=true, attrs={}) -%}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="{{ class }}"
    fill="{{ fill }}"
    viewBox="0 0 24 24"
    width="{{ width }}"
    height="{{ height }}"
    stroke="currentColor"
    aria-hidden="{{ ariaHidden }}"
    {{ attrs | htmlattrs | safe }}
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"
    />
  </svg>
{%- endmacro %}

{% macro script(path, attrs={}) -%}
  {% set js %}
    {% include "js/" ~ path %}
  {% endset %}
  {% if site.environment == "production" -%}
    <script {{ attrs | htmlattrs | safe }}>{{ js | babel | safe }}</script>
  {% else -%}
    <script {{ attrs | htmlattrs | safe }}>{{ js | safe }}</script>
  {% endif %}
{%- endmacro %}

{% macro iconed(text) -%}
  {{ text ~ " " }}
  {%- if text == "Video" -%}
    ▶
  {%- elif text == "Exercise" or text == "Exercises" -%}
    🖊
  {%- elif text == "Extras" -%}
    ✨
  {%- endif -%}
{%- endmacro %}

{% macro youtubePlayer(videoId) -%}
  {% if videoId -%}
    <div class="youtube-player-wrapper">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{ videoId }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="youtube-player"
      ></iframe>
    </div>
  {%- endif %}
{%- endmacro %}