{#
  NOTES:
  * This file is included in regular pages and deck pages.
  * Include this file before any other first-party scripts.
#}

{% from "macros.njk" import script %}

<script>
  // Namespace to attach custom global values
  window.thinkdev = {}
</script>

{# Load this early to avoid downloading all the meta resources below #}
{% set contextSource = site.repoUrl ~ '/blob/' ~ site.deployBranch ~ '/' ~ page.inputPath %}
{% set issueParams = {
  'body': (
    '<!-- Ignore the next line -->'
    ~ '\n'
    ~ '**Context:** [' ~ page.inputPath ~ '](' ~ contextSource ~ ')'
    ~ '\n\n'
    ~ '**Please describe the issue:**'
  )
} %}
<script>
  const searchParams = new URL(window.location.href).searchParams;
  if (searchParams.has('edit')) {
    // Simulate HTTP redirect (see https://stackoverflow.com/a/506004/12695621)
    window.location.replace("{{ site.repoUrl }}/edit/{{ site.deployBranch }}/{{ page.inputPath }}")
  } else if (searchParams.has('issue')) {
    window.location.replace("{{ site.repoUrl }}/issues/new?{{ issueParams | querystr }}")
  }
</script>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="{{
    'https://fonts.googleapis.com/css2'
    ~ '?family=Red+Hat+Text:ital,wght@0,400..700;1,400..700'
    ~ '&family=Red+Hat+Mono:ital,wght@0,400;0,600;1,600'
    ~ '&family=Red+Hat+Display:wght@900'
    ~ '&display=swap'
  }}"
/>

{#
  Used https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
  and https://realfavicongenerator.net/ and https://www.pwabuilder.com/ to generate what's below.
#}
<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any" />
<link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
<meta name="theme-color" content="#4f46e5" />
<meta name="color-scheme" content="light dark" />
<meta name="description" content="{{ excerpt or site.description }}" />
<meta name="author" content="{{ site.author.name }}" />
{{ script("register-sw.js") if site.environment == "production" }}
