{% from "macros.njk" import script %}

{#
  Used https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
  and https://realfavicongenerator.net/ and https://www.pwabuilder.com/ to generate what's below.
#}
<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any" />
<link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
<meta name="theme-color" content="#4f46e5" />
<meta name="color-scheme" content="light" />
{{ script("register-sw.js") if site.environment == "production" }}