{% from "macros.njk" import icon, logo %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title ~ ' | ' ~ site.title if title else site.title }}</title>
    {% if r/<pre><code /.test(content) %}
      <link rel="stylesheet" href="{{ '/reveal/plugin/highlight/github-dark-dimmed.css' | url }}" media="(prefers-color-scheme: dark)" />
      <link rel="stylesheet" href="{{ '/reveal/plugin/highlight/github.css' | url }}" media="(prefers-color-scheme: light)" />
      <style>
        pre code.hljs {
          padding: 0;
        }

        @media (prefers-color-scheme: light) {
          .hljs-doctag,
          .hljs-keyword,
          .hljs-meta .hljs-keyword,
          .hljs-template-tag,
          .hljs-template-variable,
          .hljs-type,
          .hljs-variable.language_ {
            color: #cf222e;
          }

          .hljs-built_in, .hljs-symbol {
            color: #b74f07;
          }
        }
      </style>
    {% endif %}
    <link rel="stylesheet" href="{{ '/main.css' | url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="{{
        'https://fonts.googleapis.com/css2'
        ~ '?family=Red+Hat+Text:ital,wght@0,400..700;1,400..700'
        ~ '&family=Red+Hat+Mono:ital,wght@0,400;0,600;1,600'
        ~ '&family=Red+Hat+Display:wght@900'
        ~ '&display=swap'
      }}"
    />
    {% include "meta.njk" %}
  </head>
  {# The flex and flex col class allows the main body to stretch vertically #}
  <body class="max-w-none bg-white flex flex-col min-h-screen dark:bg-gray-900">
    <div class="h-1 bg-indigo-600 dark:bg-indigo-400 sticky top-0 z-20"></div>
    <header class="sticky top-1 left-0 z-30 py-3 bg-white dark:bg-gray-900 border-b dark:border-gray-700 max-w-none">
      <div class="container flex items-center justify-between">
        <a class="sr-only focus:not-sr-only focus:absolute focus:left-2 focus:bg-white dark:focus:bg-gray-900" href="#main">Skip to content</a>
        {% if not r/id=(main|'main'|"main")/.test(content) %}
          {{ ('❌ Skip link target is missing in page ' ~ page.url ~ '. Add an element with id="main".') | log }}
        {% endif %}
        <a class="flex items-center !no-underline text-lg font-mono font-semibold tracking-wide leading-none" href="{{ '/' | url }}">
          {{ logo(class='mr-1.5') }}
          thinkdev
        </a>

        <div class="flex items-center">
          {% if layout == 'layouts/home' %}
            <a href="#lessons" aria-label="View on GitHub" class="inline-flex items-center">
              {# {{ icon('github', class="text-[#24292e] dark:text-white", width=24, height=24) }} #}
              Lessons
            </a>
          {% endif %}

          <a href="{{ site.repoUrl }}" title="View on GitHub" aria-label="View on GitHub" class="inline-flex items-center">
            {{ icon('github', class="text-[#24292e] dark:text-white", width=24, height=24) }}
          </a>

          {% if r/^\/lessons\//.test(page.url) %}
            <button
              type="button"
              aria-label="Toggle outline"
              id="outlineToggle"
              aria-expanded="false"
              aria-controls="outlineNav"
              class="inline-flex items-center ml-3 lg:hidden"
            >
              {{ icon('list', class="text-[#24292e] dark:text-white", width=24, height=24) }}
            </button>
          {% endif %}
        </div>
      </div>
    </header>
    {{ content | safe }}
    <footer class="text-sm text-gray-600 dark:text-gray-400">
      <div class="container">
        <div class="border-t py-7 dark:border-gray-700">
          <span class="mr-1">Built with ❤ by <a href="{{ site.author.url }}" class="footer-link">Mubaraq Wahab</a></span>
          <span class="mr-1">&middot;</span>
          <a class="footer-link" href="{{ site.repoUrl }}">View on GitHub</a>
        </div>
      </div>
    </footer>
  </body>
</html>
