{% from "macros.njk" import icon %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title ~ ' | ' ~ site.title if title else site.title }}</title>
    {% set css %}{% include "css/main.css" %}{% endset %}
    <style>{{ css | postcss | safe }}</style>
  </head>
  <body class="text-gray-700">
    <div class="h-2 bg-indigo-400"></div>
    <header class="sticky top-0 left-0 z-20 py-2 bg-white border-b shadow-sm border-indigo-200">
      <div class="container flex items-center justify-between">
        <a class="sr-only focus:absolute focus:left-2 focus:bg-white focus:text-indigo-600 focus:font-medium focus:not-sr-only" href="#main">Skip to content</a>
        {% if not r/id=(main|'main'|"main")/.test(content) %}
          {{ ('❌ Skip link target is missing in page ' ~ page.url ~ '. Add an element with id="main".') | log }}
        {% endif %}
        <a class="text-lg font-bold font-mono tracking-wide" href="{{ '/' | url }}">thinkdev</a>

        <div class="flex items-center">
          {# TODO: what's the best element for this? btn? checkbox? switch? radio? #}
          <button class="mr-3">Switch mode</button>
          <a href="{{ site.repoUrl }}" title="View on GitHub" aria-label="View on GitHub" rel="noopener">
            {{ icon('github', width=24, height=24) }}
          </a>
        </div>
      </div>
    </header>
    {{ content | safe }}
  </body>
</html>
