{% from "macros.njk" import logotype, script %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slides: {{ title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/reveal/dist/reveal.css' | url }}">
  <link rel="stylesheet" href="{{ '/reveal/plugin/highlight/github-dark-dimmed.css' | url }}">
  {% include "meta.njk" %}
  {% set css %}{% include "css/deck.css" %}{% endset %}
  <style>{{ css | postcss('deck') | safe }}</style>
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <p class="inline-flex items-center justify-center mb-2 mx-auto font-semibold font-mono">
          <a
            class="
              inline-flex items-center text-[color:var(--r-main-color)]
              hover:text-[color:var(--r-link-color-hover)]
            "
            href="{{ '/' | url }}"
          >
            {{ logotype(class="h-10 w-auto mb-0.5 mr-3") }}
          </a>
          #{{ order + 1 }}
        </p>
        <h1>{{ title }}</h1>
      </section>
      {{ content | safe }}
    </div>
  </div>

  <script src="{{ '/reveal/dist/reveal.js' | url }}"></script>
  <script src="{{ '/reveal/plugin/highlight/highlight.js' | url }}"></script>
  {{ script('setup-reveal.js') }}
  <script>
    const windowURL = new URL(window.location.href)
    if (windowURL.searchParams.has("print-pdf")) {
      // Just so I don't have to manually rename the pdf
      document.title = "{{ page.fileSlug }}"

      // Rewrite all local anchor URLs to prod site URL when printing.
      /** @type {NodeListOf<HTMLAnchorElement>} */
      const localAnchors = document.querySelectorAll('a[href^="/"]')

      localAnchors.forEach((anchor) => {
        const anchorURL = new URL(anchor.href)
        const url = new URL("{{ site.url }}")

        // Set the url props, except the origin, to the anchor's.
        url.pathname = anchorURL.pathname
        url.hash = anchorURL.hash
        url.search = anchorURL.search

        // Point the href to the prod site.
        anchor.href = url.href
      })
    }
  </script>
</body>
</html>
