<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thinkdev Demo</title>
    {# TODO: make title dynamic? #}
    {# TODO: add tailwind #}
    {# TODO: add favicon? #}
  </head>
  <body style="background: white;">
    {{ content }}
  </body>
</html>