---
layout: layouts/base
---

<main id="main">
  <article class="max-w-prose mx-auto px-4 py-8 sm:px-0">
    {{ content | safe }}
  </article>
</main>

<footer>
  <div class="container">
    <div class="border-t py-2 dark:border-gray-700">
      <p class="small">Built with ❤ by Mubaraq Wahab</p>
    </div>
  </div>
</footer>
