---
layout: layouts/base
---

<main id="main" class="shrink-0 grow">
  <article class="prose prose-indigo mx-auto px-4 pt-10 pb-12 sm:px-0 lg:pt-12 dark:prose-invert">
    {{ content | safe }}
  </article>
</main>
