---
layout: layouts/base
---

<main id="main"class="shrink-0 grow">
  <article class="max-w-prose mx-auto px-4 py-8 sm:px-0">
    {{ content | safe }}
  </article>
</main>

{# Don't forget: lesson.njk has different footer markup #}
<footer class="text-sm text-gray-700 dark:text-gray-400">
  <div class="container">
    <div class="border-t py-2 dark:border-gray-700">
      <p>Built with ❤ by Mubaraq Wahab</p>
    </div>
  </div>
</footer>
