---
layout: layouts/base
---

<header class="py-3 border-b border-indigo-200">
  <div class="container">
    <a class="text-lg" href="{{ '/' | url }}">Navbar</a>
  </div>
</header>

<div class="container py-8 md:grid md:grid-cols-4">
  <div class="">
    <button
      id="outlineToggle"
      type="button"
      aria-expanded="false"
      aria-controls="outlineNav"
      class="inline-flex items-center md:hidden"
    >
      <svg class="bi bi-caret-right mr-2 motion-safe:transition-transform motion-safe:duration-200" width="12" height="12">
        <use xlink:href="{{ '/images/bootstrap-icons.svg#caret-right' | url }}"/>
      </svg>
      Outline
    </button>
    <nav class="hidden md:block" id="outlineNav" aria-label="Outline">
      <ul class="nav nav-pills flex-column">
        {% for entry in pagination.pages %}
          <li class="nav-item">
            {% set entryUrl = pagination.hrefs[loop.index0] %}
            {% set isActive = page.url === entryUrl %}
            <a
              class="nav-link {{ 'active' if isActive }}"
              {% if isActive %} aria-current="page" {% endif %}
              href="{{ entryUrl }}"
            >
              {{ entry.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <main class="md:col-span-3">
    <div class="prose prose-indigo mx-auto md:px-4 md:mx-0">
      {{ content | safe }}
      <nav aria-label="Previous/next lesson" class="flex justify-between mt-4">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="inline-flex items-center mr-auto">
            <svg class="bi mr-2" width="12" height="12">
              <use xlink:href="{{ '/images/bootstrap-icons.svg#chevron-left' | url }}"/>
            </svg>
            Previous
          </a>
        {% endif %}
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="inline-flex items-center ml-auto">
            Next
            <svg class="bi ml-2" width="12" height="12">
              <use xlink:href="{{ '/images/bootstrap-icons.svg#chevron-right' | url }}"/>
            </svg>
          </a>
        {% endif %}
      </nav>
    </div>
  </main>
</div>



{% set js %}
  {% include "js/toggle-outline.js" %}
{% endset %}
{% if site.environment == "production" %}
  <script>{{ js | transpilejs | minifyjs | safe }}</script>
{% else %}
  <script>{{ js | safe }}</script>
{% endif %}
