---
layout: layouts/base
---

{% from "macros.njk" import icon, script %}

<div class="container pt-10 pb-12 lg:pt-12 lg:grid lg:grid-cols-[minmax(220px,1fr),minmax(640px,2fr),1fr] lg:gap-10">
  <nav
    class="
      hidden side-nav border-b bg-white dark:bg-gray-900
      sticky top-[calc(0.25rem+49px)] left-0 z-20 pt-4 pb-5 -mt-12 mb-12
      max-h-[calc(100vh-0.25rem-49px)] overflow-y-auto
      lg:block lg:border-0 lg:rounded lg:z-auto
      lg:my-0 lg:py-2 lg:pl-4 lg:pr-10 lg:h-fit
      lg:max-h-[calc(100vh-0.25rem-49px-6rem)]
      lg:top-[calc(0.25rem+49px+3rem)]
      print:static
    "
    id="outlineNav"
    aria-labelledby="lessonsNavLabel"
  >
    <strong id="lessonsNavLabel" class="block mb-3 font-semibold dark:text-gray-100">Lessons</strong>
    <ol class="list-none my-0 pl-0">
      {% for lesson in collections.all | eleventyNavigation %}
        <li class="py-1.5 border-l">
          <a
            href="{{ lesson.url | url }}"
            {% if page.url == lesson.url %} aria-current="page" {% endif %}
            class="flex items-center pl-4"
          >
            {{ lesson.title }}
          </a>
        </li>
      {% endfor %}
    </ol>
  </nav>

  <main id="main">
    <article class="prose prose-indigo max-w-[640px] mx-auto lg:max-w-none lg:mx-0 dark:prose-invert">
      <header>
        <h1>{{ title }}</h1>
        <p><b class="lead">{{ excerpt | safe }}</b></p>
        {% if collections.slides | find("data.order", eleventyNavigation.order) %}
          <p>
            <a class="mr-1.5 inline-flex items-center" href="{{ '/slides/' ~ page.fileSlug | url }}">Slides
              {{- icon('play-circle', class='ml-1.5') -}}
            </a>
            <span class="mr-1.5">&middot;</span>
            <a
              class="inline-flex items-center"
              href="{{ '/slides/' ~ page.fileSlug ~ '.pdf' | url }}"
              download="{{ page.fileSlug ~ '.pdf' }}"
              title="Download slides as PDF"
              aria-label="Download slides as PDF"
            >PDF {{- icon('download', class='ml-1.5') -}}</a>
          </p>
        {% endif %}
      </header>

      {{ content | safe }}

      <nav aria-label="Previous/next lesson" class="flex justify-between mt-10">
        {% set lessons = collections.all | eleventyNavigation %}
        {% set prevLesson = lessons | find("order", eleventyNavigation.order - 1) %}
        {% if prevLesson %}
          <a href="{{ prevLesson.url | url }}" rel="prev" class="inline-flex items-center mr-auto">
            {{ icon('arrow-left', class='mr-1.5') }}
            Previous
          </a>
        {% endif %}
        {% set nextLesson = lessons | find("order", eleventyNavigation.order + 1) %}
        {% if nextLesson %}
          <a href="{{ nextLesson.url | url }}" rel="next" class="inline-flex items-center ml-auto">
            Next
            {{ icon('arrow-right', class='ml-1.5') }}
          </a>
        {% endif %}
      </nav>
    </article>
  </main>
</div>

{{ script("toggle-outline.js") }}
