---
layout: layouts/auxiliary
---

<article
  class="
    prose prose-indigo max-w-[640px] mx-auto dark:prose-invert
    lg:text-[18px] lg:prose-h1:text-[2.25rem] lg:prose-h2:text-[1.5rem]
  "
>
  <header class="mb-8">
    <h1 class="mb-0">{{ title }}</h1>
    <p class="text-gray-600 dark:text-gray-400">
      Published <time datetime="{{ page.date | isodatestring }}">{{ page.date | shortdate }}</time>
    </p>
  </header>
  {{ content | safe }}
</article>
