<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>(Slides) {{ title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/reveal/reveal.css' | url }}">
  <link rel="stylesheet" href="{{ '/reveal/theme/white.css' | url }}">
  <link rel="stylesheet" href="{{ '/reveal/plugin/highlight/github.css' | url }}">
</head>
<body>
  <div class="reveal">
    <div class="slides">
      {{ content | safe }}
    </div>
  </div>

  <script src="{{ '/reveal/reveal.js' | url }}"></script>
  <script src="{{ '/reveal/plugin/highlight/highlight.js' | url }}"></script>
  <script>
    // See https://revealjs.com/config/
    Reveal.initialize({
      hash: true,
      hashOneBasedIndex: true,
      plugins: [RevealHighlight]
    });
  </script>
</body>
</html>
