---
tags: slides
---

{% from "macros.njk" import icon, logo %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>(Slides) {{ title }} | {{ site.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/reveal/dist/reveal.css' | url }}">
  {% set css %}{% include "css/slides.css" %}{% endset %}
  <style>{{ css | postcss('slides') | safe }}</style>
  <link rel="stylesheet" href="{{ '/reveal/plugin/highlight/github-dark-dimmed.css' | url }}">
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <p class="font-mono">think like a developer #{{ order + 1 }}</p>
        <h1>{{ title }}</h1>
      </section>
      {{ content | safe }}
    </div>
  </div>

  <script src="{{ '/reveal/dist/reveal.js' | url }}"></script>
  <script src="{{ '/reveal/plugin/highlight/highlight.js' | url }}"></script>
  <script>
    // See https://revealjs.com/config/
    Reveal.initialize({
      hash: true,
      hashOneBasedIndex: false,
      plugins: [RevealHighlight]
    });
  </script>
</body>
</html>
