---
tags: slides
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>(Slides) {{ title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/reveal/dist/reveal.css' | url }}">
  <link rel="stylesheet" href="{{ '/reveal/dist/theme/white.css' | url }}">
  <link rel="stylesheet" href="{{ '/reveal/plugin/highlight/github.css' | url }}">
  {% set css %}
    {% include "css/slides.css" %}
  {% endset %}
  <style>{{ css | safe }}</style>
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <h1>Slide 01: {{ title }}</h1>
      </section>
      {{ content | safe }}
    </div>
  </div>

  <script src="{{ '/reveal/dist/reveal.js' | url }}"></script>
  <script src="{{ '/reveal/plugin/highlight/highlight.js' | url }}"></script>
  <script>
    // See https://revealjs.com/config/
    Reveal.initialize({
      hash: true,
      hashOneBasedIndex: true,
      plugins: [RevealHighlight]
    });
  </script>
</body>
</html>
