---
tags: slides
---

{% from "macros.njk" import icon, logo %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slides: {{ title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/reveal/dist/reveal.css' | url }}">
  {% set css %}{% include "css/slides.css" %}{% endset %}
  <style>{{ css | postcss('slides') | safe }}</style>
  <link rel="stylesheet" href="{{ '/reveal/plugin/highlight/github-dark-dimmed.css' | url }}">
  {% include "meta.njk" %}
</head>
<body>
  <div class="reveal">
    <div class="slides">
      {#
        Use the titleSlideAttrs key in frontmatter to
        specify attributes to put on the title slide.
        If you're going to use Nunjucks within the key,
        don't forget to put the key in eleventyComputed)
      #}
      <section {{ titleSlideAttrs | htmlattrs | safe }}>
        <p class="font-mono flex items-center justify-center tracking-wide lowercase">{{ logo(class='h-7 w-7 mr-2.5') }} {{ site.title }} #{{ order + 1 }}</p>
        <h1 class="!text-[1em]">{{ title }}</h1>
      </section>
      {{ content | safe }}
      <section>
        <h2>Questions?</h2>
      </section>
    </div>
  </div>

  <script src="{{ '/reveal/dist/reveal.js' | url }}"></script>
  <script>
    // See https://revealjs.com/config/
    Reveal.initialize({
      hash: true,
      hashOneBasedIndex: false,
      navigationMode: "linear",
    });

    // For some reason, reveal isn't auto-trimming the pre > codes
    document.querySelectorAll("pre > code[data-trim]").forEach(code => {
      code.innerHTML = code.innerHTML.trim()
    })

    if (window.location.search.includes('print-pdf')) {
      // Just so I don't have to manually rename the pdf
      document.title = "{{ page.fileSlug }}"
    }
  </script>
</body>
</html>
