@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-gray-200 dark:border-gray-700;
  }

  body {
    -webkit-tap-highlight-color: transparent;
  }

  a,
  button {
    @apply rounded-sm;
  }

  :focus {
    outline: 2px dashed;
  }
}

@layer components {
  #main {
    /* For the skip-to-content link */
    @apply scroll-mt-[calc(theme("spacing.1")+49px+theme("spacing.12"))];
  }

  .bi {
    @apply inline-block fill-current;
  }

  .footer-link {
    @apply underline;
  }

  .lessons-nav a {
    @apply relative overflow-visible hover:before:inline-block;
  }

  .lessons-nav a::before {
    content: "";
    @apply hidden h-2 w-2 rounded-full bg-current absolute -left-1;
  }

  .lessons-nav a[aria-current="page"] {
    @apply font-semibold text-indigo-600 dark:text-indigo-300;
    @apply hover:text-indigo-600 hover:dark:text-indigo-300;
    @apply before:inline-block;
  }

  /* aspect-ratio fallback. See https://css-tricks.com/fluid-width-video/ */
  .youtube-player-wrapper {
    @apply relative h-0 pb-[56.25%];
  }

  .youtube-player {
    @apply absolute top-0 left-0 w-full h-full;
  }

  @supports (aspect-ratio: 16 / 9) {
    /* Undo wrapper styles */
    .youtube-player-wrapper {
      @apply static h-auto pb-0;
    }

    .youtube-player {
      /* Undo absolute */
      @apply static;
      @apply w-full h-auto aspect-video;
    }
  }

  /* Stuff for just the home page */

  :where(.home) h1 {
    @apply font-black font-display text-5xl mb-8;
    @apply text-gray-900 dark:text-gray-100;
  }

  :where(.home) a {
    @apply underline font-semibold;
    @apply text-indigo-600 dark:text-indigo-300;
  }

  :where(.home) .lead {
    @apply font-normal text-2xl;
  }
}
