---
layout: layouts/auxiliary
title: You're offline
permalink: offline.html
---

{% from "macros.njk" import script %}

<h1>You're offline</h1>
<p>Don't worry, we'll reload this page for you once the network is back.</p>

{{ script('offline.js') }}
