---
permalink: site.webmanifest
---

{%- set manifest -%}
{
  "name": "{{ site.title }}",
  "short_name": "{{ site.shortTitle }}",
  "description": "{{ site.description }}",
  "dir": "ltr",
  "theme_color": "#4f46e5",
  "background_color": "#ffffff",
  "start_url": "/",
  "scope": "/",
  "display": "browser",
  "orientation": "any",
  "icons": [
    {
      "src": "/android-chrome-192x192.png",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "/android-chrome-512x512.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ]
}
{%- endset -%}

{%- if site.environment === "production" -%}
  {# Minify the manifest #}
  {{- manifest | load | dump | safe -}}
{%- else -%}
  {{- manifest | safe -}}
{%- endif -%}