---
permalink: sw.js
---

{%- set js -%}
  const CACHE_NAME = "{% now %}";
  {% include "js/sw.js" %}
{%- endset -%}

{%- if site.environment == "production" -%}
  {{- js | babel | safe -}}
{%- else -%}
  {{- js | safe -}}
{%- endif -%}