<div class="grid">
  <form>
    <fieldset>
      <label><input type="checkbox" name="isNew" /> New</label>
    </fieldset>
    <fieldset>
      <label>
        <input type="checkbox" name="isPartOfAnExpertTrack" /> Part of an
        Expert Track
      </label>
    </fieldset>
  </form>
  <div id="root"></div>
</div>

<script>
  const courses = [
    {
      title: "The Museum as a Site and ...",
      rating: 4.6,
      reviewsCount: 75,
      isNew: false,
      isPartOfAnExpertTrack: false,
    },
    {
      title: "Fundamentals of Business ...",
      rating: 0,
      reviewsCount: 0,
      isNew: true,
      isPartOfAnExpertTrack: false,
    },
    {
      title: "Young People and Mental Health",
      rating: 4.7,
      reviewsCount: 649,
      isNew: false,
      isPartOfAnExpertTrack: false,
    },
    {
      title: "International Logistics: A ...",
      rating: 0,
      reviewsCount: 0,
      isNew: false,
      isPartOfAnExpertTrack: true,
    },
  ]

  filterAndRender()

  const checkboxes = document.querySelectorAll("input[type=checkbox]")
  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", (e) => filterAndRender())
  })

  function filterAndRender() {
    const filtered = filter()
    render(filtered)
  }

  function filter() {
    const form = document.querySelector("form")
    const formData = new FormData(form)
    let fields = [...formData.entries()].map(([k, v]) => [k, true])

    const filtered = courses.filter((course) =>
      fields.reduce((acc, [k, v]) => acc && course[k] === v, true)
    )

    console.log({fields: Object.fromEntries(fields), filtered})

    return filtered
  }

  function render(courses) {
    const root = document.querySelector("#root")
    root.innerHTML = "<ul>"
    root.innerHTML += courses.map(
      (course) => `
        <li>
          <pre>${JSON.stringify(course, null, 2)}</pre>
        </li>
      `
    )
    root.innerHTML += "</ul>"
  }
</script>
